#registroContainer{
    background-color:blue;
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    height: 200px;
    padding: 40px;
    border-radius: 20px;
}

#TituloGlobal{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

};

.descriptionName{
    background: lightblue;
    color: whitesmoke;
    padding: 20px;
    margin: 10px auto;
    width: 400px;
    position: relative;
};

#globalContainer{
    flex-direction: row;
    padding: 20px;
    align-items: center;
    margin: 10px auto;
    max-width: 390px;
 };

#todoContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px auto;
    width: 400px;
    
}

#todoingContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px auto;
    width: 400px;
  

}

#todoneContainer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 10px auto;
    width: 400px;
   
}

#registroContainer input{
    width: 40%;
    padding: 10px;
    justify-content:center;
}

.inputdata{
    width: 40%;
    padding: 10px;
    margin: 0 auto;
    justify-content:center;
}

#registroContainer *{

    margin: 5px 5px 5px 5px;

}

.downCon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.downCon1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toDoComponent{
    
    background-color: whitesmoke;
    margin: 5px;
}

.upBtn{
    background-color: blue;
    border-radius: 100%;
    cursor: pointer;
}

.ABtn{
    background-color: yellow;
    border-radius: 100%;
    cursor: pointer;
}

.delBtn{
    background-color: red;
    border-radius: 100%;
    cursor: pointer;
}

.TitleColor{
    font-weight: bolder;
    color: brown;
}

.regis{
    width: 40%;
    padding: 10px;
    margin: 0 auto;
    justify-content:center;
}


#registroTittle{
    color: burlywood;
    font-family: Arial, Helvetica, sans-serif;
}

.Titulos{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}