# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Juan José Restrepo B\Desktop\Trabajos 5 semestre\Programacion de red\ParcialApiRest\parcialApiRestSeguro\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
